.groups {
    position: fixed;
    background-color: #5ee8ff;
    width: 350px;
    height: 550px;
    right: 50px;
    top: 100px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 8px;
    color: #f6f4ee;
    font-family: "Calibri", sans-serif;
}


.groups h2 {
    text-align: center;
    margin-top: 15px;
    color: #110031;
}

.groups ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.groups li {
    background-color: #ffaf40;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 1px 2px black;
    font-size: 18px;
    text-align: center;
    color: #00023a;
}

.groups li:hover{
    box-shadow: 0 2px 3px black;
}
.groups::-webkit-scrollbar {
    width: 0;
}
